html {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h1, p {
    margin-top:0vh;
    margin-bottom: 0.2vh;
    padding:0vh;
}

body {
    background-color: #eee;
    font-size:3vh;
}

textarea {
    width:70vw;
    height: 45vh;
}

textarea::placeholder {
    font-size: 150%;
    text-align: center;
}

button{
    width:50vh;
    font-size:100%;
    margin-bottom: 0.5vh;
    cursor: pointer;
}

label{
    font-size: 80%;
}

.centeredContent{
    overflow:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

#checkBoxDiv {
    text-align:left;
}

body > p > strong > span, .blueUnderlined {
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}

.redUnderlined {
    color:red;
    cursor: pointer;
    text-decoration: underline;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.hidden {
    display:none;
}
